.icon{
	height: 25px;
	width: 25px;
	margin-left: 10px;
	fill: #dfdcdcc6;
	cursor: pointer;

	@media (max-width: 1200px) {
		height: 22px;
		width: 22px;
		margin-left: 5px;
	}
	@media (max-width: 770px) {
		width: 20px;
		height: 20px;
	}

	@media (max-width: 480px) {
		height: 22px;
		width: 22px;
		margin-left: 5px;
	}

	&:hover{
		fill: #fff;
	}
}

.nav{
	display: flex;
}