.section{
	display: flex;
	flex-direction: column;
	margin: 70px 0;
	@media (max-width: 770px) {
		margin: 50px 0;
	}
}

.title{
	color: black;
	font-size: 25px;
	margin-bottom: 40px;
	@media (max-width: 770px) {
		margin-bottom: 30px;
	}
}

.gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	@media (max-width: 770px) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}
	@media (max-width: 480px) {
		grid-template-columns: repeat(1, 1fr);
	}
	
}